/*****************************
            BASE
******************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
    color: var(--txt_primary-color);
    font-size: 12px;
    /* è una app: altezza = viewport */
    height: 100vh;
}


a,
a:hover,
a:active {
    color: unset;
    text-decoration: none;
    display: inline-block;
    /* _____________________________________ */
    padding: 0.5rem;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

/*****************************
            VARIABILI
******************************/
:root {

    /* ***** colors ***** */
    --bg_primary-color-dark: #080b12;
    --bg_primary-color: #141922;
    --bg_primary-color-light: #282828;

    --bg_secondary-color: #000000;

    --btn_primary-color: #ffffff;

    --el_primary-color: #a3a3a3;
    --el_primary-color-light: #c1c1c1;
    --el_primary-color-dark: #5a5a5a;

    --el_thirdary-color: #adff2f;
    /* 
    --txt_primary-color-dark: #7b7e82; */
    --txt_primary-color: #a3a3a3;
    --txt_primary-color-light: #ffffff;
}


/*****************************
        CLASS-UTILITIES
******************************/

/* *********row & col********** */

.row {
    display: flex;
}

.row-col {
    flex-direction: column;

}

.row>* {
    border: 1px solid rgb(185, 66, 179);

}

.col-xs_1-2 {
    flex-basis: calc(100% /2);
}

/********** display *************/
.s-display {
    display: none;
}

/* *********size-icon********** */


.s-i_xs {
    width: .5rem;
}

.s-i_s {}


.s-i_m {
    width: 2rem;
}

.s-i_l {}


/* *********color-icon********** */

.i-c_01 {}

/* *********font-size********** */
.f-s_s {
    font-size: .5rem
}

.f-s_m {
    font-size: 1rem;
}

.f-s_l {
    font-size: 2rem;
}


h2{
    font-size: 2rem;
}
h3{
    font-size: 1.4rem;
}
h4,
.b{
    font-size: 1rem;
    font-weight: bold;
}


/* *************************** */

.title {
    color: var(--txt_primary-color-light);
}

.upper {
    text-transform: uppercase;
}

.cap {
    text-transform: capitalize;
}

.round {
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.divider {
    width: 1px solid var(--el_primary-color-dark);
}

.btn{
    border: none;
    color: var(--btn_primary-color);
    background-color: transparent;
}

.btn.lg{
border: 1px solid var(--btn_primary-color);
border-radius: 3rem;
padding: 1.5rem 4rem;
}

/********** MOBILE-FIRST **************/

/*******************************
        MAX-CONTAINER
******************************/
#max-container {
    height: 100vh;
}

#max-container>.row-col,
#aside-main-container .row {
    height: 100%;
}


#max-container #aside-main-container.col {
    flex-grow: 1;
}

#max-container #nav-bar.col {
    flex-shrink: 0;
}

/*****************************
            ASIDE
******************************/

/* struttura... */
aside.container {
    background-color: var(--bg_secondary-color);
    width: 65px;
    height: 100%;

}

#as-top.col,
#as-bottom.col {
    flex-shrink: 0;
}

#as-middle.col {
    flex-grow: 1;
}

#aside-nav li{
    text-align: center;

}

/* elementi.... */

.logo .xs-display,
.logo .s-display {
    height: 3rem;
}
.logo .s-display{
    transform: translateX(-1.5rem);
}
#as-middle .fa-plus {
    color: var(--bg_secondary-color);
    background-color: var(--el_primary-color);
    padding: 10px;
}

.install-icon{
    border: 1px solid var(--txt_primary-color);
}

/*****************************
        MAIN SECTIONS
******************************/
#master-main {
    flex-grow: 1;
}

/* ******MAIN ARTICLE UPGRADE*************/

#upgrade.container {
    background-color: var(--bg_primary-color-dark);
}



/* ******MAIN SECTION-NAV *************/

#sections-nav ul{
    text-align: center;
}
#sections-nav li{
    display: inline-block;
    padding: ;
}

/* ******MAIN *************/

main {
    background-color: var(--bg_primary-color);
    height: 100%;
    /* scrollbar solo per main (app!) */
    overflow: auto;

}

main section .row {
    flex-wrap: wrap;
}

main .row.row-col>* {
    flex-grow: 1;
}

main #upgrade {
    text-align: right;
}

main .card{text-align: center;}


/*****************************
        BOTTOM-NAVBAR
******************************/
nav.container {
    background-color: var(--bg_primary-color-light);
}

#nav-bar nav .row {
    align-items: center;
    vertical-align: center;
}

#nb-middle {
    flex-grow: 1;
}

#nb-left,
#nb-right {
    flex-shrink: 0;
}