/***** MEDIA MOBILE-FIRST  ********************/

/*****************************
            SM SMALL
/*****************************
        MEDIA MOBILE-FIRST
******************************/
@media screen and (min-width: 568px) {





    /********CLASS-UTILITIES**************/

    .xs-display {
        display: none;
    }

    .s-display {
        display: inline-block;
    }


    /************ASIDE**************/

    aside.container {
        width: 230px;
    }

    #aside-nav li {
        text-align: left;

    }
}

/*****************************
            MD MEDIUM 
******************************/

@media screen and (min-width: 768px) {

    /************** BASE****************/
    body {
        font-size: 14px;
    }





    /******** CLASS-UTILITIES***********/

    .col-md_1-4 {
        flex-basis: calc(100% / 4);
    }


    /******** BOTTOM-NAVBAR***********/

    .song-btn .row.row-col {
        flex-direction: row;
    }

}


/*****************************
            LG LARGE 
******************************/

@media screen and (min-width: 992px) {


    body {
        font-size: 16px;
    }

    


    main section .row {
        flex-wrap: nowrap;
    }

    .col-lg_1-6 {
        flex-basis: calc(100% /6);

    }
}