/***** MEDIA MOBILE-FIRST  ********************/

/*****************************
            SM SMALL
******************************/

@media screen and (min-width: 568px) {

    /********CLASS-UTILITIES**************/

    .xs-display {
        display: none;
    }

    .s-display {
        display: inline-block;
    }


    /************ASIDE**************/

    aside.container {
        width: 230px;
    }

    #aside-nav li {
        text-align: left;

    }
}
/***** ARTICLE UPGRADE BAR *************/

/* #upgrade.container {
    left: 230px;
} */

/*****************************
            MD MEDIUM 
******************************/

@media screen and (min-width: 768px) {

    /************** BASE****************/
    html {
        font-size: 14px;
    }

    /******** CLASS-UTILITIES***********/


    main .card-container .row {
        --gap: 1rem;
        gap: var(--gap);
        --prop-col_1-4_md: calc((100% - (var(--gap) * 3)) / 4);
    }

    .col-md_1-4 {
        flex-basis: var(--prop-col_1-4_md);
    }

    /******** BOTTOM-NAVBAR***********/

    .song-btn .row.row-col {
        flex-direction: row;
    }

}


/*****************************
            LG LARGE 
******************************/

@media screen and (min-width: 992px) {

    /************** BASE****************/
    html {
        font-size: 16px;
    }

    /******** CLASS-UTILITIES***********/

    main .card-container .row {

        flex-wrap: nowrap;

        --gap: 1.5rem;
        gap: var(--gap);
        --prop-col_1-6_lg: calc((100% - (var(--gap) * 5)) / 6);
    }

    .col-lg_1-6 {
        flex-basis: var(--prop-col_1-6_lg);
    }
}