/*****************************
            BASE
******************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: roboto, sans-serif;
    color: var(--txt_primary-color);
    font-size: 12px;
    /* è una app: altezza = viewport */
    height: 100vh;
}

a,
a:hover,
a:active {
    color: unset;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

a {
    padding: 0.5rem;
    ;
}

a:hover>* {
    color: var(--txt_primary-color-light);
}

li {
    list-style-type: none;
    padding: 0.25rem;
}

img {
    width: 100%;
}


h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

h4,
.b {
    font-size: 1rem;
    font-weight: bold;
}

/*****************************
            VARIABILI
******************************/
:root {

    /* ***** colors ***** */
    --bg_primary-color-dark: #080b12;
    --bg_primary-color: #141922;
    --bg_primary-color-light: #282828;

    --bg_secondary-color: #000000;

    --btn_primary-color: #ffffff;

    --el_primary-color: #a3a3a3;
    --el_primary-color-light: #c1c1c1;
    --el_primary-color-dark: #5a5a5a;

    --el_thirdary-color: #adff2f;
    /* 
    --txt_primary-color-dark: #7b7e82; */
    --txt_primary-color: #a3a3a3;
    --txt_primary-color-light: #ffffff;

    /****** gap e column *************/

}

/*****************************
        CLASS-UTILITIES
******************************/

/* *********row & col********** */

.row {
    display: flex;
}

.row-col {
    flex-direction: column;

}

/********** display *************/
.s-display {
    display: none;
}

.overflow {
    overflow: auto;
}

/* *********size-img********** */

.s-i_xs {
    width: .5rem;
}

.s-i_m {
    width: 2rem;
}

/****** font-size *******/
.f-s_xs {
    font-size: .5rem
}

.f-s_s {
    font-size: .8rem
}

.f-s_m {
    font-size: 1rem;
}

.f-s_l {
    font-size: 1.4rem;
}


/******padding******************/

/* bottom...... */
.pd-b_01 {
    padding-bottom: 1rem;
}

.pd-b_02 {
    padding-bottom: 1.5rem;
}

.pd-b_03 {
    padding-bottom: 2rem;
}

.pd-b_04 {
    padding-bottom: 5rem;
}

/* top...... */
.pd-t_01 {
    padding-top: 1rem;
}

.pd-t_02 {
    padding-top: 1.5rem;
}

.pd-t_03 {
    padding-top: 2rem;
}

.pd-t_04 {
    padding-top: 5rem;
}

/* padding 0 top-bottom...... */
.pd-tb_01 {
    padding: 1rem 0;
}

.pd-tb_02 {
    padding: 1.5rem 0;
}

.pd-tb_03 {
    padding: 2rem 0;
}

.pd-tb_04 {
    padding: 5rem 0;
}

/* padding 0 x...... */


.pd_00 {
    padding: 1rem;
}

.pd_01 {
    padding: 1rem;
}

.pd_02 {
    padding: 1.5rem;
}

.pd_03 {
    padding: 2rem;
}

.pd_04 {
    padding: 5rem;
}

/* *************************** */
.txt {
    padding-left: .3rem;
}

.title {
    color: var(--txt_primary-color-light);
}

.upper {
    text-transform: uppercase;
}

.cap {
    text-transform: capitalize;
}

.round {
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.divider {
    background-color: var(--el_primary-color-dark);
    height: 1px;
    width: 95%;

}

.btn {
    border: none;
    color: var(--btn_primary-color);
    background-color: transparent;
    padding: .5rem;
}

.btn.lg {
    border: 1px solid var(--btn_primary-color);
    border-radius: 3rem;
    padding: 1.5rem 4rem;
}

.btn.dark {
    color: var(--el_primary-color);
}

.btn.dark:hover {
    color: var(--btn_primary-color);
}

.btn:hover {
    cursor: pointer;
}




/********** MOBILE-FIRST **************/

/*******************************
        MAX-CONTAINER
******************************/
#max-container {
    height: 100vh;
}

#max-container>.row-col,
#aside-main-container .row {
    height: 100%;
}


#max-container #aside-main-container.col {
    flex-grow: 1;
    /* tutti i genitori con flex-grow1 di "main" che ha overflow auto, devono avere anch'essi overflow auto */
    overflow: auto;
}

#max-container #nav-bar.col {
    flex-shrink: 0;
}

/*****************************
            ASIDE
******************************/

/* struttura... */
aside.container {
    background-color: var(--bg_secondary-color);
    width: 65px;
    height: 100%;
}

#aside-main-container .row {
    overflow: auto;

}

#as-top.col,
#as-bottom.col {
    flex-shrink: 0;
}

#as-middle.col {
    flex-grow: 1;
    overflow: auto;
}

#aside-nav li {
    text-align: center;
}

#aside-nav li * {
    vertical-align: middle;
}

/* elementi.... */

.logo .xs-display,
.logo .s-display {
    height: 3rem;
}

.logo .s-display {
    transform: translateX(-1.5rem);
}


#as-middle .fa-plus {
    color: var(--bg_secondary-color);
    background-color: var(--el_primary-color);
    padding: 10px;
}

#as-middle a:hover .fa-plus {
    background-color: var(--txt_primary-color-light);
}

.install-icon {
    border: 1px solid var(--txt_primary-color);
}

.white_0 * {
    color: var(--txt_primary-color-light);
}

svg {
    color: var(--txt_primary-color);
}

.white:hover>svg {
    color: var(--btn_primary-color);
}

.profile-img.round {
    display: inline-block;
}

.profile-img.round svg {
    background-color: var(--el_primary-color-dark);
}

/*****************************
        MAIN SECTIONS
******************************/
#master-main {
    flex-grow: 1;
    /* tutti i genitori con flex-grow1 di overflow auto (main) devono avere anch'essi overflow auto */
    overflow: auto;
}

/* ******MAIN ARTICLE UPGRADE*************/

#upgrade.container {
    background-color: var(--bg_primary-color-dark);

    /* 
    position: fixed; 
    top: 0;
    left: 65px;
    right:0;
    z-index: 3; */
}

#upgrade .btn.lg {
    margin-bottom: 1rem;
}

#upgrade .btn.lg:hover {
    transform: scale(105%);
}


/* ******MAIN SECTION-NAV *************/

#sections-nav ul {
    text-align: center;
}

#sections-nav li {
    display: inline-block;
}


/* ******MAIN *************/

main {
    background-color: var(--bg_primary-color);
    height: 100%;
    /* scrollbar solo per main (app!) */
    overflow: auto;

}

main section .row {
    flex-wrap: wrap;
}

main .row.row-col>* {
    flex-grow: 1;
}

main #upgrade {
    text-align: right;
}

main .card {
    text-align: center;
}

/*.... calc column pwidth .....!!!!!!!!!*/

/* è possibile creare delle variabili all'interno dei selettori ed esportarle poi all'occorrenza nelle diverse media-queries. 

in questo caso creiamo una variabile per il gap che andiamo poi ad inserire in un calc che diventa esso stesso una variabile.

questo ci permette di modificare agilmente  lo spazio tra le column */

main .card-container .row {
    --gap: .5rem;
    gap: var(--gap);
    --prop-col_1-2_xs: calc((100% - var(--gap)) / 2);
}

/* applicazione del calc creato in .row all'interno della .col figlia */

.col-xs_1-2 {
    flex-basis: var(--prop-col_1-2_xs);
}

.card-img {
    position: relative;
    overflow: hidden;
}

.card-img .img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000070;

    opacity: 0;
    transition: all .3s;
}

.img-overlay .fa-circle-play {
    font-size: 4rem;
    color: var(--txt_primary-color-light);
}

main .card-img:hover>.img-overlay {
    opacity: 1;
    backdrop-filter: blur(5px);
}



/*****************************
        BOTTOM-NAVBAR
******************************/


/****** struttura base ***********/

nav.container {
    background-color: var(--bg_primary-color-light);
    padding: 0 1rem;
}

#nav-bar nav .row {
    align-items: center;
    vertical-align: center;
}

#nb-middle {
    flex-grow: 1;
    overflow: auto;
}

#nb-left,
#nb-right {
    flex-shrink: 0;
}

/******** nav left ****************/
#nb-left .song-img {
    width: 4vw;
    padding-right: 0.8rem;
}

.song-info a:hover {
    text-decoration: underline;
}


/****** nav middle ****************/

#player-bar>*,
#audio-options>* {
    display: inline-block;
    vertical-align: middle;
}

/* .progress-container{
    width: 60vw;
} */

.bg-progress-bar {
    flex-grow: 1;
    background-color: var(--el_primary-color-dark);
    border-radius: 20px;
}

.progress-bar {
    background-color: var(--txt_primary-color-light);
    width: 20%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}



.progress-scroll {
    height: 300%;
    aspect-ratio: 1/1;

    position: absolute;
    right: 0;
    background-color: var(--txt_primary-color-light);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.progress-bar:hover .progress-scroll {
    display: block;
}



.progress-bar:hover {
    background-color: var(--el_thirdary-color);

}

#player-bar {
    width: 100%;
    text-align: center;
}

#player-bar .bg-progress-bar {
    width: 50%;
    height: .4rem;
}

#player-btn .fa-circle-play:hover {
    transform: scale(115%);
}

/*****  nav right  **************/

#audio-options .bg-progress-bar {
    width: 5rem;
    height: .2rem;
}