/*****************************
            BASE
******************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;

    /* è una app: altezza = viewport */
    height: 100vw;
}

a,
a:hover,
a:active {
    color: unset;
    text-decoration: none;
}

li {
    list-style-type: none;
}


/*****************************
            VARIABILI
******************************/
:root {

    /* ***** colors ***** */
    --bg_primary-color-dark: #080b12;
    --bg_primary-color: #141922;
    --bg_primary-color-light: #282828;

    --bg_secondary-color: #000000;

    --btn_primary-color: #ffffff;

    --el_primary-color:#a3a3a3;
    --el_primary-color-light:#c1c1c1;
    --el_primary-color-dark:#5a5a5a;

    --el_thirdary-color: #adff2f;

    --txt_primary-color-dark: #7b7e82;
    --txt_primary-color: #a3a3a3;
    --txt_primary-color-light: #ffffff;
   

}


/*****************************
            GENERAL
******************************/




/*****************************
        CLASS-UTILITIES
******************************/
.row {
    display: flex;
}
.row>* {
    border: 1px solid greenyellow;
}



/* *********size-icon********** */

.s-i_xs:;
.s-i_s:;
.s-i_m:;
.s-i_l:;

.divider{
    width:1px solid var(--el_primary-color-dark) ;
}

/*****************************
        CLASS-UTILITIES
******************************/
/*****************************
        CLASS-UTILITIES
******************************/
/*****************************
        CLASS-UTILITIES
******************************/