#evidence {
    background-color: blueviolet;

}

#podcast {
    background-color: aquamarine;
}

#classification {
    background-color: rgb(33, 114, 180);
}

.tabs {
    justify-content: center;

}




/* meccanismo tabs */
.tab-panel {
    display: none;
}

.tabset>input:first-child:checked~ #tab-panels-container .tab-panel:first-child {
    display: block;
}