#evidence {
    background-color: blueviolet;

}

#podcast {
    background-color: aquamarine;
}

#classification {
    background-color: rgb(33, 114, 180);
}

.tabset {
    justify-content: center;

}

/* meccanismo tabs */

.tab-panel {
    display: none;
}

.tabset>input:first-of-type:checked~ #tab-panels-container>.col:first-child > .tab-panel,
.tabset>input:nth-of-type(2):checked~ #tab-panels-container>.col:nth-of-type(2)> .tab-panel,
.tabset>input:last-of-type:checked~ #tab-panels-container>.col:last-child > .tab-panel{
    display: block;
}